<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Hunter</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="./favicon.png" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Skip To Content</a>

    <div class="wrap">
      <button id="menu_dua">☰</button>
    </div>

    <nav id="drawer" class="navbar">
      <a class="logo" href="/">Food Hunter</a>
      <ul class="nav__list">
        <li><a href="#/home" class="nav__items">Home</a></li>
        <li><a href="#/favorite" class="nav__items">Favorite</a></li>
        <li>
          <a
            target="_blank"
            href="https://github.com/rezahakimalzami03"
            class="nav__items"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <div class="hero" id="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Nikmati Pengalaman Kuliner Terbaik!</h1>
        <p class="hero__tagline">
          Katalog restoran kami adalah jendela ke dunia kuliner yang luas!
        </p>
      </div>
    </div>

    <main id="maincontent" tabindex="0"></main>

    <footer class="footer-text">
      <p>&copy; Reza Hakim, Dicoding Indonesia, 2023</p>
    </footer>
  </body>
</html>
